.container{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(img/meoffrey.jpg) no-repeat center;
  background-size: 100%;
}

h1{
    font-family: 'VT323', san-serif;
    font-weight: 400;
    font-size: 6em;
    text-align: center;
    color: #FF00E0;
}

.headline{
  margin: 0 auto;
  position: relative;
  top: 50%;
  font-size: 3em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}